.row{
  @media screen and (min-width: 756px) {
    display: flex;
  }

  .col{
    @media screen and (min-width: 756px) {
      width: 50%;
    }

    margin-bottom: 2rem;
    input[type="text"]{
      width: 300px;
      margin-bottom: 1rem;

    }
    .error-message {
      color: red;
      font-size: 10px;
    }
  }
}